{% extends 'djangoapp/index.html' %}

{% block title %}About Us{% endblock title %}

{% block navlist %}
<li class="nav-item my-auto">
    <a class="nav-link pt-3 mr-5 " href="{% url 'djangoapp:index' %}"><h6>Home</h6></a>
</li>
<li class="nav-item my-auto active">
    <a class="nav-link pt-3 mr-5" href="#"><h6>About Us</h6><span class="sr-only">(current)</span></a>
</li>
<li class="nav-item my-auto">
    <a class="nav-link pt-3 mr-5" href="{% url 'djangoapp:contact' %}"><h6>Contact Us</h6></a>
</li>
{% endblock navlist %}

{% block main %}
<div class="container mt-5 py-5 px-5 bg-light">
    <h1>
        <span class="font-weight-bolder">Welcome to Best Cars dealership</span>, home to the best cars in North America.
        We sell domestic and imported cars at reasonable prices.
    </h1>
    <hr>
</div>
{% endblock main %}
