{% extends 'djangoapp/index.html' %}

{% block title %}Contact Us{% endblock title %}

{% block navlist %}
<li class="nav-item my-auto">
    <a class="nav-link pt-3 mr-5 " href="{% url 'djangoapp:index' %}"><h6>Home</h6></a>
</li>
<li class="nav-item my-auto">
    <a class="nav-link pt-3 mr-5" href="{% url 'djangoapp:about' %}"><h6>About Us</h6></a>
</li>
<li class="nav-item my-auto active">
    <a class="nav-link pt-3 mr-5" href="#"><h6>Contact Us</h6><span class="sr-only">(current)</span></a>
</li>
{% endblock navlist %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="wrapper bg-light">
                <div class="row no-gutters mb-5">

                    <div class="col-md-7 border-right">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <h3 class="mb-4">Contact Us</h3>
                            <form class="contactForm">
                            <!-- <form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate"> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="name">Full Name</label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="email">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="subject">Subject</label>
                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="#">Message</label>
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-primary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>    
                    </div>

                    <div class="col d-flex flex-column">
                            <div class="row my-auto">
                                <div class="dbox mx-auto w-50 text-center">
                                    <div class="icon d-flex align-items-center fa-2xl text-primary justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text mt-2">
                                        <p><span class="font-weight-bolder">Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-auto">
                                <div class="dbox mx-auto w-50 text-center">
                                    <div class="icon d-flex align-items-center fa-2xl text-primary justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text mt-2">
                                        <p><span class="font-weight-bolder">Phone:</span> + 1234 5678 91</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-auto">
                                <div class="dbox mx-auto w-50 text-center">
                                    <div class="icon d-flex align-items-center fa-2xl text-primary justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text mt-2">
                                        <p><span class="font-weight-bolder">Email:</span> <a href="mailto:info@yoursite.com">info@bestcars.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}   
