{% extends 'djangoapp/index.html' %}

{% block title %}Details{% endblock title %}

{% block navlist %}
<li class="nav-item my-auto">
    <a class="nav-link pt-3 mr-5 " href="{% url 'djangoapp:index' %}"><h6>Home</h6></a>
</li>
<li class="nav-item my-auto">
    <a class="nav-link pt-3 mr-5" href="{% url 'djangoapp:about' %}"><h6>About Us</h6></a>
</li>
<li class="nav-item my-auto">
    <a class="nav-link pt-3 mr-5" href="{% url 'djangoapp:contact' %}"><h6>Contact Us</h6></a>
</li>
{% endblock navlist %}

{% block main %}
<div class="container mt-5 py-5 px-5 bg-light">
    <h1>Reviews for <span class="bolder">{{review}}</span></h1>
    {% if not reviews %}
    <h3>There are no reviews for this dealership yet. Log in and leave your review!</h3>
    {% else %}
    {% for review in reviews %}
    <li>{{review.review}}</li>
    {% endfor %}
    {% endif %}
</div>
{% endblock main %}