<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dealership Review{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://kit.fontawesome.com/5bc56508dd.js" crossorigin="anonymous"></script>
    <style>
        .alert-fixed {
            position:fixed; 
            top: 13% ; 
            left: 68% ; 
            width: 29%;
            z-index:9999; 
            border-radius:0px
        }
    </style>

</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light col">
        <a class="navbar-brand col-2 col px-5 h-100" href="#">
            <i class="fa-solid fa-car-on fa-xl text-primary mx-2"></i>
            <span class="font-weight-bolder text-primary"> BESTCars </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse col" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto col-6 flex-row justify-content-start">
            {% block navlist %}
                <li class="nav-item active my-auto">
                    <a class="nav-link pt-3 mr-5 " href="#"><h6>Home</h6> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link pt-3 mr-5" href="{% url 'djangoapp:about' %}"><h6>About Us</h6></a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link pt-3 mr-5" href="{% url 'djangoapp:contact' %}"><h6>Contact Us</h6></a>
                </li>
            {% endblock navlist %}
        </ul>
        {% if not user.is_authenticated %}
        <div class="d-inline-flex flex-row justify-content-end">
            {% if page %}
            <form class="form-inline my-2 my-lg-0 justify-content-end col" action="{% url 'djangoapp:login' page %}"  method="post">
            {% else %}
            <form class="form-inline my-2 my-lg-0 justify-content-end col" action="{% url 'djangoapp:login' page='index' %}"  method="post">
            {% endif %}
            {% csrf_token %}
                {% if error %}
                <input class="form-control mr-sm-2 w-25 border-danger" type="text" placeholder="Username" name="username">
                <input class="form-control mr-sm-2 w-25 border-danger" type="password" placeholder="Password" name="password">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
                <div class="alert alert-fixed alert-danger alert-dismissible fade show " role="alert">
                    <strong>Something went wrong :( </strong>
                    <hr>{{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% else %}
                <input class="form-control mr-sm-2 w-25" type="text" placeholder="Username" name="username">
                <input class="form-control mr-sm-2 w-25" type="password" placeholder="Password" name="password">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>                
                {% endif %}
            </form>
            <a class="form-control btn btn-outline-primary my-2 ml-2 my-sm-0 col-2" href="{% url 'djangoapp:registration'%}">Sign Up</a>
        </div>
        {% else %}
        <div class="d-inline-flex my-2 my-lg-0 flex-row justify-content-end">
            <p class="text-primary my-auto mx-5">({{user.username}})</p>
            <a class="btn btn-outline-primary my-2 ml-1 my-sm-0" href="{% url 'djangoapp:logout' page %}">Log Out</a>
        </div>
        {% endif %}
        </div>
    </nav>
      
    <!--Add a dealer table here -->
        <main class="container mt-5">
            {% block main %}
            <table class="table text-center" id="table" data-filter-control="true">
                <thead>
                    <tr class="">
                        <th data-field="id">ID</th>
                        <th data-field="name">Dealer Name</th>
                        <th data-field="city">City</th>
                        <th data-field="address">Address</th>
                        <th data-field="zip">Zip</th>
                        <th data-field="st" data-filter-control="select" class="form-inline"><span>State</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for dealer in dealerships %}
                        <tr>
                            <td>{{dealer.id}}</td>
                            <td><a href={% url 'djangoapp:dealer_details' dealer.id %}>{{dealer.full_name}}</a></td>
                            <td>{{dealer.city}}</td>
                            <td>{{dealer.address}}</td>
                            <td>{{dealer.zip}}</td>
                            <td class="mx-auto">{{dealer.st}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endblock main %}
        </main>
    </body>

    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
      </script>

</html>
